<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <header>
        <div class="w-full bg-[#26BB98] py-2">
            <div class="flex justify-between">
                <a th:href="@{/}" class="font-bold text-gray-900 text-2xl px-3">MyList<span style="font-size: small;">of</span>Movies</a>
                <div class="flex justify-center items-center">
                    <a th:href="@{/}" th:text="'Naslovna'"
                       class="px-3 py-2 text-gray-900 hover:bg-gray-200 rounded font-medium mr-2 auto"></a>
                    <a th:href="@{/movies}" th:text="'Svi filmovi'"
                       class="px-3 py-2 text-gray-900 hover:bg-gray-200 rounded font-medium mr-2 auto"></a>
                    <a th:href="@{/recommended}" th:text="'Moje preporuke'"
                       class="px-3 py-2 text-gray-900 hover:bg-gray-200 rounded font-medium mr-2 auto"></a>
                </div>
                <div class="flex justify-center items-center">
                    <div sec:authorize="isAuthenticated()" class="flex">
                        <a th:text="Profil" th:href="@{/profile}"
                           class="text-gray-900 hover:bg-gray-200 px-3 py-2 rounded text-lg mr-2 items-center"></a>
                        <form th:action="@{/logout}" method="post" class="flex items-center justify-center">
                            <input type="submit" value="Logout"
                                   class="bg-red-600 hover:bg-red-700 rounded px-3 py-1
                                          cursor-pointer mr-2 text-gray-100"/>
                        </form>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <a th:href="@{/login}" th:text="Login"
                           class="border border-2 border-slate-800 hover:border-gray-100 rounded px-3 py-1
                                  cursor-pointer mr-2 text-gray-900">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>