<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="splide(movieList)">
        <div class="splide px-3 py-4 border border-gray-200 rounded shadow bg-slate-800">
            <div class="splide__track">
                <ul class="splide__list">
                    <li th:each="movie:${movieList}" class="splide__slide">
                        <a th:href="@{/movieDetails/{title} (title = ${movie.title}) }">
                            <img alt="Movie poster" class="w-full h-[30vh] object-contain cursor-pointer"
                                 th:src="${movie.poster}" th:title="${movie.title}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>