<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title}, ~{::#page})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lab1</title>
</head>
<body>
<div id="page">
    <div th:each="movie:${movies}" class="px-4 py-3">
        <div class="grid grid-cols-3">
            <div class="mr-3">
                <img class="h-96 w-80 object-contain" th:src="${movie.poster}" alt="Movie poster">
                <p th:text="'Prosječna ocjena: ' + ${movie.imdbRating} + '/10'"></p>
                <p th:text="'Actors: ' + ${movie.actors}"></p>
            </div>
            <div class="col-span-2">
                <p th:text="${movie.title}" class="mb-3 text-2xl"></p>
                <a th:href="@{/movieDetails/{title}(title=${movie.title})}" style="color: cornflowerblue; text-decoration: underline;"> Details </a> <br>
                <p th:utext="${movie.plot}"></p>
            </div>
        </div>
        <hr>
    </div>
</div>
</body>
</html>