<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title}, ~{::#page})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lab1</title>
</head>
<body>
    <div id="page">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg" th:object="${user}">
            <div class="px-4 py-5 sm:px-6">
                <img th:src="${user.picture}" alt="Profile picture">
                <span th:if="${user.emailVerified}" th:text="Verificiran"
                      class="text-blue-500"><i class="fas fa-check"></i></span>
                <span th:unless="${user.emailVerified}" th:text="Još nije verificiran"></span>
            </div>
            <div class="border-t border-gray-200">
                <dl>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Ime i prezime
                        </dt>
                        <dd th:text="${user.firstName} + ' ' + ${user.lastName}"
                            class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        </dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Email
                        </dt>
                        <dd th:text="${user.email}"
                                class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        </dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Verificiran
                        </dt>
                        <dd th:text="${user.emailVerified}"
                            class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</body>
</html>