<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title}, ~{::#page})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lab1</title>
</head>
<body>
    <div id="page">
        <form th:action="@{/weather}" class="flex justify-center border-gray-200">
            <input type="text" name="city" placeholder="Unesite grad"
                   class="px-3 py-2 border-gray-200 focus:border-blue-500 mr-2">
            <input type="submit" value="Dohvati vrijeme"
                   class="bg-blue-400 hover:bg-blue-500 text-white
                          px-3 py-2 rounded cursor-pointer">
        </form>
        <div class="message-window mt-3" th:if="${message} != null">
            <div class="relative w-100 mb-3">
                <div class="bg-red-100 border border-red-500 text-red-700 rounded relative flex flex-row justify-between" role="alert">
                    <div class="py-3 pl-2">
                        <strong class="font-bold">Pogreška!</strong>
                        <span class="block sm:inline" th:text="${message}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white shadow overflow-hidden sm:rounded-lg" th:if="${weather} != null" th:object="${weather}">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Weather report
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Trenutni vremenski izvještaj
                </p>
            </div>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <dl class="sm:divide-y sm:divide-gray-200">
                    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Stanje
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" th:text="${weather.weather[0].main}">
                        </dd>
                    </div>
                    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Opis
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" th:text="${weather.weather[0].description}">
                        </dd>
                    </div>
                    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Vidljivost
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" th:text="${weather.visibility} + 'm'">
                        </dd>
                    </div>
                    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Temperatura
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" th:text="${weather.main.temp} + '°C'">
                        </dd>
                    </div>
                    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Feels like
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" th:text="${weather.main.feels_like} + '°C'">
                        </dd>
                    </div>
                    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Brzina vjetra
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2" th:text="${weather.wind.speed} + 'm/s'">
                        </dd>
                    </div>
                    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Izlazak sunca
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                            th:text="${#dates.format(weather.sys.sunrise * 1000, 'dd-MM-yyyy HH:mm:ss')} + 'h'">
                        </dd>
                    </div>
                    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Zalazak sunca
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                            th:text="${#dates.format(weather.sys.sunset * 1000, 'dd-MM-yyyy HH:mm:ss')} + 'h'">
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</body>
</html>