<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title}, ~{::#page})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lab1</title>
</head>
<body>
<div id="page">
    <div class="grid grid-cols-2">
        <div class="col-first">
            <div class="flex flex-col mt-12">
                <img class="h-[40vh] w-10/12 object-contain" th:src="@{/assets/popcorn.jpg}" alt="Slika kokica">
            </div>
            <div class="mt-3">
                <pre class="whitespace-pre-wrap">

Nemate prijatelja da vam preporuče film?
IMDB konstantno prikazuje jedno te iste filmove?

E pa došli ste na pravo mjesto!
My List of Movies je savršena aplikacija za sve filmoljupce željne novog sadržaja. Sve što trebate napraviti je ulogirati se pomoću neke od društvenih mreža i to je to. Možete pristupiti bazi od 10 000 filmova i pretraživati filmove po naslovu, žanru ili glumcima.

Uz to, aplikacija Vam nudi mogućnost generiranja liste preporučenih filmova SAMO ZA VAS!
Kako bi filmovi bili po Vašem ukusu, ocjenite neke od filmova koje ste već gledali kako bi naš napredni algoritam izračunao sljedeći film po vašem ukusu.
                </pre>
            </div>
        </div>
        <div class="col-last">
            <div class="mt-12">
                <p class="text-2xl font-bold">15 trenutno najpopularnijih filmova</p>
            </div>
            <div class="w-full mt-3">
                <div th:replace="fragments/splide :: splide(${popularMovies})"></div>
            </div>
            <div class="mt-12">
                <p class="text-2xl font-bold">15 najbolje ocjenjenih filmova</p>
            </div>
            <div class="w-full mt-3">
                <div th:replace="fragments/splide :: splide(${topRatedMovies})"></div>
            </div>
            <div class="mt-12">
                <p class="text-2xl font-bold">15 najiščekivanijih filmova</p>
            </div>
            <div class="w-full mt-3">
                <div th:replace="fragments/splide :: splide(${upcomingMovies})"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>