<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" th:href="@{assets/app.css}" />
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css" />
</head>

<body>
<div class="min-h-screen flex flex-col items-center justify-center bg-gray-300">
    <div class="flex flex-col bg-white shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-md w-full max-w-md">
        <div class="font-medium self-center text-xl sm:text-2xl uppercase text-gray-800">Ulogirajte se u vaš račun</div>
        <div class="message-window mt-3" th:if="${message} != null">
            <div class="relative w-100 mb-3">
                <div class="bg-green-100 border border-green-400 text-green-700 rounded relative flex flex-row justify-between" role="alert">
                    <div class="py-3 pl-2">
                        <strong class="font-bold">Uspjeh!</strong>
                        <span class="block sm:inline" th:text="${message}"></span>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:each="url : ${urls}">
            <a th:href="${url.value}" class="relative mt-6 border rounded-md py-2 text-sm text-gray-800 bg-gray-100 hover:bg-gray-200 flex">
                <span class="absolute left-0 top-0 flex items-center justify-center h-full w-10 text-gray-500"><i class="fab fa-google"></i></span>
                <span class="ml-8">Google račun</span>
            </a>
        </th:block>
    </div>
</div>
</body>
</html>